<%= form_with(model: elf) do |form| %>
  <% if elf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(elf.errors.count, "error") %> prohibited this elf from being saved:</h2>

      <ul>
        <% elf.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.number_field :level %>
  </div>

  <div class="field">
    <%= form.label :damage %>
    <%= form.number_field :damage %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
