<p id="notice"><%= notice %></p>

<h1>Rogues</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Weapon</th>
      <th>Health</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rogues.each do |rogue| %>
      <tr>
        <td><%= rogue.name %></td>
        <td><%= rogue.weapon %></td>
        <td><%= rogue.health %></td>
        <td><%= link_to 'Show', rogue %></td>
        <td><%= link_to 'Edit', edit_rogue_path(rogue) %></td>
        <td><%= link_to 'Destroy', rogue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rogue', new_rogue_path %>
