<p id="notice"><%= notice %></p>

<h1>Dwarves</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dwarves.each do |dwarf| %>
      <tr>
        <td><%= dwarf. %></td>
        <td><%= dwarf. %></td>
        <td><%= dwarf. %></td>
        <td><%= link_to 'Show', dwarf %></td>
        <td><%= link_to 'Edit', edit_dwarf_path(dwarf) %></td>
        <td><%= link_to 'Destroy', dwarf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dwarf', new_dwarf_path %>
