<p id="notice"><%= notice %></p>

<p>
  <strong>:</strong>
  <%= @dwarf.name %>
</p>

<p>
  <strong>:</strong>
  <%= @dwarf.height %>
</p>

<p>
  <strong>:</strong>
  <%= @dwarf.armor_class %>
</p>

<%= link_to 'Edit', edit_dwarf_path(@dwarf) %> |
<%= link_to 'Back', dwarves_path %>
