<p id="notice"><%= notice %></p>

<p>
  <strong>:</strong>
  <%= @dwarf. %>
</p>

<p>
  <strong>:</strong>
  <%= @dwarf. %>
</p>

<p>
  <strong>:</strong>
  <%= @dwarf. %>
</p>

<%= link_to 'Edit', edit_dwarf_path(@dwarf) %> |
<%= link_to 'Back', dwarves_path %>
